table, td, th {
    border: 1px solid black;
}

table, td, input {
    border: 1px solid black;
    width: 265px;
     height: 30px;
}

table {
    border-collapse: collapse;
    width: 80%;
}

.omss_grid th {
    height: 30px;
    background: #333333;
    color: #FFFFFF;
}